@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}

/**all css**/

h4{
    font-size: 4vh;
    color:black;
    opacity: 50%;
    font-family: 'Roboto Slab', serif;
}

h3{
    font-size: 5vh;
    font-family: 'Merriweather', serif;
}

p{
    font-size: 3vh;
    font-family: 'PT Serif', serif;
}

a{
    font-family: 'PT Serif', serif;
}

h2{
    color:black;
    opacity: 50%;
    font-size: 6vh;
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: #fefae0;
}

/**navbar css**/

.pagelogo img{
    width: 13vw;
    height: 11vh;
}

.pagelogo{
    padding-left: 1vw;
    margin-right: 45vw;
}

header{
    display: block;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1vw;
    background-color: #01f400;
    font-family: 'Noto Serif', serif;
    position: relative;
    width: 100%;
    height: 12vh;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    font-size: 3vh;
}

.dropdown a{
    color: black;
    text-decoration: none;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #01f400;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navlinks{
    height: 5vh;
    width: 8vw;
}

.navlinks a{
    font-size: 3vh;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.navlinks:hover{
    background-color: #01f400;
}

/**footer css**/

footer {
    background-color: #01f400;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 13vh;
    z-index: 5;
}

.copyright{
    padding-left: 3vh;
    margin-right: 45vw;
}

.icon{
    background: url(../images/sprite3.png) no-repeat;
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: right;
}

#twitter{
    background-position: -66px -72px;
}

#fb{
    background-position: -439px -146px;
}

#instagram{
    background-position: -290px -221px;
}

/*banner css*/

#vidbg{ 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index:-1; 
}

video {
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.bannerhead{
    font-size: 5em;
    color: black;
    font-size: 10vh;
    text-align: left;
    padding-top: 30vh;
    padding-left: 5vh;
    font-family: 'Roboto Slab', serif;
}

article p{
    font-size: 5em;
    color: black;
    font-size: 6vh;
    text-align: left;
    padding-bottom: 30vh;
    padding-left: 5vh;
    font-family: 'Roboto Slab', serif;
}

/**background css**/

.background{
    padding-left: 3vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-right: 3vh;
}

/**activities css**/

.past{
    padding-left: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;
}

.activity1{
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.activity2{
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.activity3{
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.activity4{
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.activity5{
    padding: 1vh;
    display: flex;
    flex-direction: row;
}

.activitytext{
    padding-left: 1vw;
}

.activitytext a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

.images img{
    width: 40vw;
    height: 40vh;
}

.images{
    animation-name: imagesmotion;
    animation-duration: 5s;
    animation-iteration-count: 1;
    
}

/**do css**/

.do{
    padding-left: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;
}

.actsparts{
    display: flex;
    flex-direction: column;
}

.recentimages img{
    width: 45vw;
    height: 50vh;
}

.recenttext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.recenttext a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

/**initiatives css**/

.initiatives{
    padding-left: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;
}

.campaigns{
    display: flex;
    flex-direction: column;
}

.campimages img{
    width: 45vw;
    height: 50vh;
}

.camptext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.campbanners{
    padding-left: 3vh;
    padding-right: 3vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/**involvements css**/

.involvements{
    padding-left: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;
}

.events{
    display: flex;
    flex-direction: column;
}

.eventtext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.eventlinks a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

.partners{
    display: flex;
    flex-direction: column;
}

.partnertext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.partnertext a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

/**about css**/

.about{
    padding-left: 3vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-right: 3vh;
}

.aboutbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aboutlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutlinks a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

/**v&m css**/

.vissionmission{
    padding-left: 3vh;
    padding-top: 30vh;
    padding-bottom: 30vh;
    padding-right: 3vh;
}

.vissionmissiontext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.vissionmissiontext a{
    color: #04ca03;
    font-size: 3vh;
}

/**join css**/

.join{
    padding-left: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;
}

.joinimages img{
    width: 45vw;
    height: 50vh;
}

.jointext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.joinlinks a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

/**support css**/

.support{
    padding-left: 3vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-right: 3vh;
}

.supportimages img{
    width: 45vw;
    height: 50vh;
}

.supporttext{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.supportlinks a{
    text-decoration: none;
    display: inline-block;
    padding: 1vh;
    background-image: linear-gradient(to right,#04ca03 , #01f400);
    margin-top: 1vh;
    color: white;
    font-weight: 800;
    font-size: 3vh;
}

@keyframes imagesmotion{
    from{
        transform: translate(-30vw, 0vh);
    }
    to{
        transform: translate(0vw, 0vh);
    }
}

@media screen and (max-width: 600px) {

}